
.card-header:first-child{
    background-color: #2d414c;

   
}
.detail{
 
   
     background: url(../../public/img/formosa-atardecer01.jpg) #444;
    background-size: cover;
    padding-bottom: 80px;
}
.card-section{
    background-color:white;
    height:100%;
}
*{
    font-family: 'Century Gothic';
}